<!DOCTYPE html>
<html>
<head>
	<title>Rules</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hello, People!</h1>
  <p class="lead">Graphide has its own Rules that one has to follow in order to yield Proper Result.</p>
  <hr class="my-4">
  <p>So come on  lets open the door to visual maths</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Plot</a>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Required</th>
      <th scope="col">Syntax</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Exponential</td>
      <td>e**x , a**x where a is R</td>
      <td>An exponential function is a function of the form where b is a positive real number, and in which the argument x occurs as an exponent.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tan inverse</td>
      <td>arctan(x)</td>
      <td>If you know the opposite side of an angle and the hypotenuse in a right triangle, you can use inverse sine to find the measure of the angle.</td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>cos inverse</td>
      <td>arccos(x)</td>
      <td>If you know the opposite side of an angle and the hypotenuse in a right triangle, you can use inverse sine to find the measure of the angle.</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>sin inverse</td>
      <td>arcsin(x)</td>
      <td>If you know the opposite side of an angle and the hypotenuse in a right triangle, you can use inverse sine to find the measure of the angle.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>sinx</td>
      <td>sin(x)</td>
      <td>graph of sin(x)</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>cosx</td>
      <td>cos(x)</td>
      <td>graph of cos(x)</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>tanx</td>
      <td>tan(x)</td>
      <td>graph of tan(x)</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>