<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>SWR</title>
	<link href="https://fonts.googleapis.com/css?family=Abel|Poppins&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="{% static 'css/SWR.css'%}">
</head>
<body>
	<div class="some">
	<h1>SOMETHING WENT WRONG</h1>
	</div>
	<h1><span>204</span></h1><!--No information error code-->
	<p>Please make sure you have entered correct input ! Do Refer rules for further enquiry</p>
	<div class="dot">
		
	</div>
		 
</body>
</html>